body {
    height: 1000px;
    width: 1000px;
}

#container {
    height: 75%;
    width: 75%;
}

.square {
    border: 1px solid black;
    height: 5%;
    width: 5%;
}

.black {
    background-color: black;
}